# Entornos de laboratorio
*.ova
*.vmdk
*.vdi
*.iso
*.vmem
*.vmsn

# Documentos privados y diapositivas fuente
*.pdf

# Secretos y credenciales
*.env
.env
secrets/

# Outputs de laboratorio
*.log
eve.json
*.pcap

# Sistema
.DS_Store
Thumbs.db
